---
name: Run Test Suite

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request:
    branches:
      - '**'

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}-${{ github.event_name }}--${{ (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/') || startsWith(github.ref, 'refs/heads/long_lived/')) && github.sha || '' }}
  cancel-in-progress: true

jobs:
  build:
    name: All tests (Windows)
    runs-on: windows-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      max-parallel: 4

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Python environment
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Setup simulator
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Test code with pytest (Windows)
        shell: bash
        run: |
          python3 -m venv venv
          . ./venv/bin/activate
          pip install --extra-index https://pypi.chia.net/simple/ --editable .[dev]
          chia init
          echo -ne "\n" | cdv sim create
          export CHIA_ROOT=~/.chia/simulator/main/
          chia start wallet
          sleep 10
          chia wallet did create
          pytest -n 0 tests/test_mint.py
